@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Arapey:400,400i|Cinzel:400,700,900|Comfortaa:300,400,500,600,700&display=swap&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Righteous&display=swap");
header #headerReklam::before, header #headerReklam::after {
  content: "";
  opacity: 0.2;
  top: 0;
  width: 2px;
  height: 100%;
  -webkit-box-shadow: 2px 2px 30px 10px #e0e0e0;
          box-shadow: 2px 2px 30px 10px #e0e0e0;
  position: absolute;
  background-color: #e0e0e0;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.signInBtn, .signUpBtn {
  margin: 5px 0;
  color: #bababa !important;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: #111111 1px 1px 10px 0.1px !important;
          box-shadow: #111111 1px 1px 10px 0.1px !important;
}

.signInBtn:hover, .signUpBtn:hover {
  -webkit-box-shadow: -0.4px -0.4px 5px 0.3px grey !important;
          box-shadow: -0.4px -0.4px 5px 0.3px grey !important;
  color: white !important;
  -webkit-transition: all 0.2s !important;
  transition: all 0.2s !important;
}

.signInBtn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100px;
  width: 20px;
  height: 100%;
  background-color: white;
  opacity: 0.7;
  -webkit-transform: skewX(-45deg);
  transform: skewX(-45deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.signInBtn:hover {
  background-color: #9b0017 !important;
}

.signInBtn:hover::before {
  left: 200px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.signUpBtn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100px;
  background-color: white;
  z-index: 1;
  width: 100px;
  height: 100%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  right: 0;
  width: 0;
}

.signUpBtn:hover {
  color: #2d2d30 !important;
  -webkit-transition: all 0.7s !important;
  transition: all 0.7s !important;
}

.signUpBtn:hover::before {
  left: 0%;
  right: initial;
  -webkit-transition: all 0.4s !important;
  transition: all 0.4s !important;
  width: 100%;
}

.reasonWhy h4, .aboutUs h4, #sponsorOwl h4 {
  font-size: 2.3rem;
  font-family: "Abril Fatface", cursive;
  color: #2d2d30;
}

.reasonWhy p, .aboutUs p, #sponsorOwl p {
  font-size: 1.2rem;
  font-family: "Arapey", serif;
  color: #5e5e65;
}

.reasonWhy h5, .aboutUs h5, #sponsorOwl h5 {
  font-size: 1.8rem;
  font-family: "Abril Fatface", cursive;
  color: #2d2d30;
}

.signInBtn {
  background-color: #ce001e !important;
}

.signUpBtn {
  color: #efefef !important;
  background-color: #cf9900 !important;
}

.signUpBtn span {
  z-index: 99 !important;
  position: relative;
}

.justSocials {
  background-color: #39393d;
  text-align: center;
  border-radius: 15px;
}

.justSocials a:nth-child(1) {
  color: #3d5a96 !important;
}

.justSocials a:nth-child(1):hover {
  color: #5274b9 !important;
}

.justSocials a:nth-child(2) {
  color: #0c85d0 !important;
}

.justSocials a:nth-child(2):hover {
  color: #4db5f5 !important;
}

.justSocials a:nth-child(3) {
  color: #d62516 !important;
}

.justSocials a:nth-child(3):hover {
  color: #ef6e63 !important;
}

.justSocials a:nth-child(4) {
  color: #cc0000 !important;
}

.justSocials a:nth-child(4):hover {
  color: #ff3333 !important;
}

.justSocials a:nth-child(5) {
  position: relative;
  color: #c7c7c7 !important;
  z-index: 2;
}

.justSocials a:nth-child(5):hover {
  color: #fafafa !important;
}

.justSocials a:nth-child(5):before {
  content: "";
  z-index: -1;
  border-radius: 5px;
  position: absolute;
  top: 5px;
  left: 0px;
  height: 70%;
  width: 15px;
  background: #8A2387;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#F27121), color-stop(#E94057), to(#8A2387));
  background: linear-gradient(to right, #F27121, #E94057, #8A2387);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.rightPost {
  margin-left: auto !important;
}

.activeNavItem {
  color: #e8e8e8 !important;
  border-radius: 4px;
  padding: 0 10px;
  background-color: #c4001d !important;
  -webkit-box-shadow: #ff3552 inset 0.05px 0.05px 4px 0.05px !important;
          box-shadow: #ff3552 inset 0.05px 0.05px 4px 0.05px !important;
}

.activeNavItem:hover {
  background-color: #820013 !important;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.displayToggle {
  display: block !important;
}

.fixedTopSticky {
  top: 0 !important;
  position: fixed !important;
  z-index: 999;
}

.fa-times {
  font-size: 1.3em;
}

.iframeDinamicClass:hover .closeIframe {
  top: 3%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.coverOfMovie {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.96;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

@-webkit-keyframes headerReklamLeft {
  from {
    left: 1px;
    opacity: 0;
  }
  to {
    left: 99%;
    opacity: 0.5;
  }
}

@keyframes headerReklamLeft {
  from {
    left: 1px;
    opacity: 0;
  }
  to {
    left: 99%;
    opacity: 0.5;
  }
}

@-webkit-keyframes headerReklamRight {
  from {
    left: 99%;
    opacity: 0;
  }
  to {
    left: 1%;
    opacity: 0.5;
  }
}

@keyframes headerReklamRight {
  from {
    left: 99%;
    opacity: 0;
  }
  to {
    left: 1%;
    opacity: 0.5;
  }
}

@-webkit-keyframes mainCarouselWrite1 {
  from {
    font-size: 9.5em;
    opacity: 0;
    -webkit-transform: rotate(900deg);
            transform: rotate(900deg);
  }
  to {
    font-size: 2.5em;
    opacity: 0.2;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes mainCarouselWrite1 {
  from {
    font-size: 9.5em;
    opacity: 0;
    -webkit-transform: rotate(900deg);
            transform: rotate(900deg);
  }
  to {
    font-size: 2.5em;
    opacity: 0.2;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@-webkit-keyframes mainCarouselWrite2 {
  from {
    letter-spacing: -25px;
    opacity: 0;
  }
  to {
    letter-spacing: 3px;
    opacity: 1;
  }
}

@keyframes mainCarouselWrite2 {
  from {
    letter-spacing: -25px;
    opacity: 0;
  }
  to {
    letter-spacing: 3px;
    opacity: 1;
  }
}

@-webkit-keyframes mainCaptionAll {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes mainCaptionAll {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.8;
  }
}

@-webkit-keyframes playIconBefore {
  from {
    height: 50px;
    width: 50px;
    left: 0;
    top: 0;
    opacity: 1;
  }
  to {
    height: 90px;
    width: 90px;
    left: -20px;
    top: -20px;
    opacity: 0;
  }
}

@keyframes playIconBefore {
  from {
    height: 50px;
    width: 50px;
    left: 0;
    top: 0;
    opacity: 1;
  }
  to {
    height: 90px;
    width: 90px;
    left: -20px;
    top: -20px;
    opacity: 0;
  }
}

@-webkit-keyframes hoverRotateWhySection {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes hoverRotateWhySection {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes playIconAfter {
  from {
    height: 50px;
    width: 50px;
    left: 0;
    top: 0;
    opacity: 1;
  }
  to {
    height: 90px;
    width: 90px;
    left: -20px;
    top: -20px;
    opacity: 0;
  }
}

@keyframes playIconAfter {
  from {
    height: 50px;
    width: 50px;
    left: 0;
    top: 0;
    opacity: 1;
  }
  to {
    height: 90px;
    width: 90px;
    left: -20px;
    top: -20px;
    opacity: 0;
  }
}

@media only screen and (max-width: 2000px) {
  .carousel-item {
    height: 600px !important;
  }
  .signInModal {
    width: 25%;
    left: 37.5%;
  }
}

@media only screen and (max-width: 1400px) {
  .carousel-item {
    height: 440px !important;
  }
  .signInModal {
    width: 30% !important;
    left: 35% !important;
  }
}

@media only screen and (max-width: 1250px) {
  .carousel-item {
    height: 400px !important;
  }
  .signInModal {
    width: 35% !important;
    left: 32.5% !important;
  }
}

@media only screen and (max-width: 1100px) {
  .carousel-item {
    height: 360px !important;
  }
  .carousel-item h5 {
    font-size: 1.5rem !important;
  }
  .carousel-item p {
    font-size: 1rem !important;
  }
  .captionLover {
    font-size: 1.5rem !important;
    left: 2% !important;
    opacity: 0.2;
    text-align: center;
  }
}

@media only screen and (max-width: 991px) {
  .carousel-item {
    height: 330px !important;
  }
  .fa-chevron-right {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .signInModal {
    width: 40% !important;
    left: 30% !important;
  }
}

@media only screen and (max-width: 800px) {
  .carousel-item {
    height: 300px !important;
  }
  .signInModal {
    width: 52% !important;
    left: 24% !important;
  }
}

@media only screen and (max-width: 650px) {
  .carousel-item {
    height: 280px !important;
  }
}

@media only screen and (max-width: 991px) {
  .nav-item #searchChangeIcon #openedInputSearch {
    margin-top: 28px !important;
  }
  .aboutAndIframe {
    background: #fafafa;
    padding: 10px 0 !important;
  }
  .aboutAndIframe .col-12 {
    width: 100% !important;
  }
  .aboutUs {
    -webkit-box-shadow: 1px 1px 10px 1px #84848c;
            box-shadow: 1px 1px 10px 1px #84848c;
    padding: 40px 0;
    border-top-right-radius: 100px !important;
    border-bottom-right-radius: 180px !important;
    background-color: #fafafa;
    position: relative !important;
    width: 100%;
    margin-bottom: 10%;
  }
  .iFrame {
    margin-top: 10px !important;
    position: relative !important;
    z-index: 1 !important;
    background-color: #2d2d30;
    border-radius: 10px;
    margin: 20px 0;
  }
}

@media only screen and (max-width: 562px) {
  .carousel-item {
    height: 280px !important;
  }
  .fixedStore {
    top: 400px !important;
  }
  .changePageToRegist {
    top: 435px !important;
  }
  .cheangeContent {
    top: 435px !important;
  }
  .signInModal {
    width: 65% !important;
    left: 17.5% !important;
  }
}

header {
  text-align: center;
}

header #headerReklam {
  background-color: #24609e;
  color: #e0e0e0;
  width: 99.99%;
  padding: 15px 0;
  font-family: "Comfortaa", cursive;
  position: relative;
}

header #headerReklam::before {
  left: 0;
  -webkit-animation-name: headerReklamLeft;
          animation-name: headerReklamLeft;
}

header #headerReklam::after {
  right: 99.99%;
  -webkit-animation-name: headerReklamRight;
          animation-name: headerReklamRight;
}

header #headerReklam a {
  text-decoration: underline;
  margin: 0 10px;
  font-weight: bold;
}

header #headerReklam a:hover {
  text-decoration: underline !important;
}

header #headerReklam a span {
  opacity: 0.5;
}

header #headerReklam a span:hover {
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

header #headerSocial {
  background-color: #2d2d30;
  -webkit-box-shadow: inset 0px 4px 24px 2px #1e1e20, inset 0px -4px 24px 0px #1e1e20;
          box-shadow: inset 0px 4px 24px 2px #1e1e20, inset 0px -4px 24px 0px #1e1e20;
}

header #headerSocial a:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

header #headerSocial #headerMailPhone {
  width: 100%;
  font-family: "Comfortaa", cursive;
}

header #headerSocial #headerMailPhone a:hover {
  color: #ffbd03 !important;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header #headerSocial .row section:first-child {
  margin: 20px 0;
}

header #headerSocial .row section:first-child a {
  margin: 0 1%;
}

header #headerSocial .row section:last-child section:first-child {
  font-size: 1.2em;
}

header #headerSocial #headerSignPart {
  margin: 10px 0;
}

header #headerNavbar {
  background-color: #9b0017;
  -webkit-box-shadow: inset 0 3px 20px #e80022, inset 0 -4px 20px #e80022;
          box-shadow: inset 0 3px 20px #e80022, inset 0 -4px 20px #e80022;
}

header #headerNavbar .navbar {
  padding: 0 !important;
}

header #headerNavbar .dropdown-item a {
  position: relative;
}

header #headerNavbar .dropdown-item .fa-chevron-right {
  position: absolute;
  top: 8px;
  left: 130px;
}

header #headerNavbar img {
  height: 60px;
  width: 30%;
  margin-top: 15px;
}

header #headerNavbar div div:nth-child(2) {
  margin-top: 16px;
  height: 100%;
  font-family: "Righteous", cursive;
}

header #headerNavbar div .dropdown-menu {
  background-color: #161616 !important;
  padding: 0;
  margin: 0 !important;
}

header #headerNavbar div .dropdown-menu a {
  color: #e20021 !important;
  background-color: #161616 !important;
}

header #headerNavbar div .dropdown-menu a:hover {
  color: #ff9baa !important;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

header #headerNavbar div .dropdown-menu .languageDropMenu {
  top: -4px;
  margin: 0;
  left: 157.1px;
}

header #headerNavbar .nav-item {
  position: relative;
}

header #headerNavbar .nav-item #searchChangeIcon {
  background-color: #d1d1d1 !important;
  height: 50px !important;
  width: 200px !important;
  z-index: 995;
  display: none;
  margin-bottom: 15px !important;
}

header #headerNavbar .nav-item #searchChangeIcon input {
  height: 30px;
  width: 180px;
  margin: auto;
  margin-top: 8px;
  z-index: 996 !important;
  background-color: #ededed !important;
}

header #headerNavbar .nav-item #searchChangeIcon #openedInputSearch {
  position: absolute;
  color: #2d2d30 !important;
  background-color: unset !important;
  left: 168px;
  top: 15px !important;
}

header #headerNavbar .nav-item:hover .dropdown-menu {
  display: block;
}

header #headerNavbar .nav-item:hover .dropdown-menu .languageDropMenu {
  display: none;
}

header #headerNavbar .nav-item:hover .dropdown-menu .dropright:hover .languageDropMenu {
  display: block;
}

header #headerNavbar .nav-link {
  color: #adadad !important;
  margin: 0 10px;
  margin-top: 3px;
  padding: 0;
  text-shadow: 2px 2px 5px #2d2d30;
}

header #headerNavbar .nav-link:hover {
  color: #e8e8e8 !important;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

header #headerNavbar .nav-link .i {
  margin-left: 5px;
}

.signInModal {
  position: fixed;
  z-index: 1111;
  -webkit-box-shadow: black 0.5px 0.5px 20px 0.5px, inset #77777f 1px 1px 10px 0.5px;
          box-shadow: black 0.5px 0.5px 20px 0.5px, inset #77777f 1px 1px 10px 0.5px;
  border-radius: 10px;
  background-color: #2d2d30;
  padding: 20px;
  color: #ababb1;
  width: 25%;
  left: 37.5%;
  top: -500px;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.signInModal #closeEntrance {
  position: absolute;
  right: 25px;
  top: 25px;
  font-size: 20px;
  color: #c6c6c9;
  text-shadow: #0a0a0a 1px 1px 5px;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.signInModal #closeEntrance:hover {
  color: #ce001e;
  cursor: pointer;
  right: 22.5px;
  top: 20px;
  font-size: 25px;
  text-shadow: black 2px 2px 10px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.signInModal #closeEntrance:active {
  font-size: 20px;
  right: 25px;
  top: 25px;
}

.signInModal h4 {
  font-family: "Righteous", cursive;
  color: #ff3552;
  text-shadow: black 1px 1px 3px;
  margin-bottom: 30px;
}

.signInModal h6 {
  font-family: "Comfortaa", cursive;
}

.signInModal .alertDivChecking {
  color: #ce001e;
  font-family: "Comfortaa", cursive;
  font-size: 0.8rem;
  font-weight: bold;
}

.signInModal .userEntranceForm input {
  -webkit-box-shadow: #ababb1 0.5px 0.5px 5px 0.1px;
          box-shadow: #ababb1 0.5px 0.5px 5px 0.1px;
}

.signInModal .userEntranceForm input:hover {
  -webkit-box-shadow: #84848c 0.5px 0.5px 10px 0.1px;
          box-shadow: #84848c 0.5px 0.5px 10px 0.1px;
}

#mainSlideGOT {
  -webkit-box-shadow: #343438 2px 2px 6px 2px;
          box-shadow: #343438 2px 2px 6px 2px;
}

#mainSlideGOT .captionLover {
  position: absolute;
  z-index: 1;
  left: 38%;
  color: #e0e0e0;
  font-size: 1.5rem !important;
  font-weight: bold;
  font-family: "Cinzel", serif !important;
  top: 10px !important;
  opacity: 0.8;
  -webkit-animation-name: mainCaptionAll;
          animation-name: mainCaptionAll;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  text-shadow: 2px 2px 5px black;
}

#mainSlideGOT .carousel-item {
  position: relative;
  height: 600px;
  overflow: hidden !important;
  background-color: black;
}

#mainSlideGOT .carousel-item img {
  top: 0;
  left: 0;
  opacity: 0.5;
  width: auto;
  height: 100%;
}

#mainSlideGOT .carousel-item h5 {
  font-size: 3.5rem;
  font-family: "Abril Fatface", cursive;
  font-weight: bold;
  opacity: 0;
  -webkit-transform: rotate(900deg);
  transform: rotate(900deg);
  -webkit-animation-name: mainCarouselWrite1;
          animation-name: mainCarouselWrite1;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

#mainSlideGOT .carousel-item p {
  font-size: 1.5rem;
  font-family: "Comfortaa", cursive;
  letter-spacing: -20px;
  -webkit-animation-name: mainCarouselWrite2;
          animation-name: mainCarouselWrite2;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
  opacity: 0;
}

#mainSlideGOT:hover a {
  display: block;
}

#mainSlideGOT a {
  display: none;
  width: 50px !important;
  height: 50px !important;
  top: 43%;
  border-radius: 100% !important;
  background-color: #2d2d30 !important;
  opacity: 0.4 !important;
  line-height: 55px !important;
}

#mainSlideGOT .carousel-control-prev {
  left: 1%;
}

#mainSlideGOT .carousel-control-next {
  right: 1%;
}

.fixedStore {
  position: fixed;
  top: 345px;
  border-top-left-radius: 10px;
  right: 0;
  width: 35px;
  height: 35px;
  background-color: #57fd64;
  text-align: center;
  z-index: 999;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.fixedStore:hover {
  cursor: pointer;
  background-color: #015407;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.fixedStore:hover a {
  color: #89fe92 !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.fixedStore a {
  color: #161616 !important;
  font-size: 22px !important;
  margin: 7px 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.changePageToRegist {
  width: 35px;
  height: 35px;
  background-color: #ce001e;
  text-align: center;
  position: fixed;
  top: 380px;
  border-bottom-left-radius: 10px;
  right: 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  z-index: 1110;
}

.changePageToRegist:hover {
  cursor: pointer;
}

.changePageToRegist:hover a {
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
  -webkit-transition: all 3s;
  transition: all 3s;
}

.changePageToRegist a {
  color: #161616 !important;
  font-size: 22px !important;
  margin: 7px 0;
  -webkit-transition: all 3s;
  transition: all 3s;
}

.cheangeContent {
  width: 200px;
  position: fixed;
  top: 380px;
  right: -200px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  z-index: 1110;
  border-bottom-left-radius: 10px;
}

.cheangeContent h5 {
  height: 35px;
  margin: auto 0;
  color: black;
  background-color: #ce001e;
  font-family: "Comfortaa", cursive;
  font-weight: bold;
  padding: 5px 0;
  text-align: center;
}

.cheangeContent #chooseFrom {
  height: 35px;
  background: black;
  text-align: center;
  border-bottom-left-radius: 10px;
}

.cheangeContent #chooseFrom a {
  width: 40%;
  text-align: center;
  padding: 4px 0;
  height: 30px;
  border: 2px solid #141416;
  border-radius: 5px;
  margin: 2px 5px;
  background-color: #141416;
  color: #9b0017 !important;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 20px;
}

.cheangeContent #chooseFrom a:hover {
  color: #ff4f68 !important;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.reasonWhy .reasonWhyResponsive {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.reasonWhy .card {
  top: 0;
  border: 0px solid white;
  -webkit-box-shadow: #e0e0e2 0.5px 0.5px 15px 4px;
          box-shadow: #e0e0e2 0.5px 0.5px 15px 4px;
  border-radius: 10px;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  position: relative;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  margin-bottom: 60px;
}

.reasonWhy .card:hover {
  top: -10px;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.reasonWhy .card:hover .borderAnimate {
  width: 90px !important;
  height: 90px !important;
  margin: 5px 5px !important;
  opacity: 1 !important;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-animation-name: hoverRotateWhySection;
          animation-name: hoverRotateWhySection;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.reasonWhy .card h5 {
  margin-top: 15px;
}

.reasonWhy .card .iconOfWhy {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  position: relative;
  margin: auto !important;
  text-align: center;
}

.reasonWhy .card .iconOfWhy .borderAnimate {
  width: 100px;
  height: 100px;
  border: 3px dotted white;
  opacity: 0;
  border-radius: 100%;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.reasonWhy .card .iconOfWhy i {
  line-height: 100px;
  font-size: 2.2rem;
}

.reasonWhy .card .iconGallery {
  background-color: #ff687e;
}

.reasonWhy .card .iconWorld {
  background-color: #ffd150;
}

.reasonWhy .card .iconSupport {
  background-color: #a2feaa;
}

.aboutAndIframe {
  background: #fafafa;
  padding: 100px 0;
  height: 100%;
}

.aboutAndIframe .col-12 {
  width: 100% !important;
}

.aboutUs {
  -webkit-box-shadow: 1px 1px 10px 1px #84848c;
          box-shadow: 1px 1px 10px 1px #84848c;
  margin: 70px 0;
  padding: 40px 0;
  border-top-right-radius: 180px !important;
  border-bottom-right-radius: 180px !important;
  background-color: #fafafa;
  position: relative;
  z-index: 100;
  width: 104%;
}

.aboutUs h4 {
  padding-bottom: 10px;
}

.aboutUs .firstPinkSection {
  font-family: "Comfortaa", cursive;
}

.aboutUs .firstPinkSection .pinkFilms {
  font-family: "Righteous", cursive;
  color: #ff4f68;
}

.aboutUs .secondSuccessSection {
  font-family: "Comfortaa", cursive;
}

.aboutUs .secondSuccessSection .successFilms {
  font-family: "Righteous", cursive;
  color: #47fd56;
}

.col-lg-6 {
  padding: 0 !important;
}

.iFrame {
  position: relative;
  z-index: 1;
  background-color: #2d2d30;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 5px 1px #5e5e65;
          box-shadow: 1px 1px 5px 1px #5e5e65;
  height: 100% !important;
  overflow: hidden !important;
}

.iFrame img {
  opacity: 0.6;
  border-radius: 10px;
  height: 100%;
}

.iFrame .playIcon {
  position: absolute;
  top: 46%;
  left: 47%;
  background-color: #e0e0e0;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  line-height: 50px;
  text-align: center;
  color: #cf9900 !important;
  z-index: 0 !important;
}

.iFrame .playIcon:hover {
  cursor: pointer;
  color: #ffbd03 !important;
}

.iFrame .playIcon .playIconAnimate1 {
  position: absolute;
  top: -15px;
  left: -15px;
  background-color: #e0e0e0;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  opacity: 0.6;
  z-index: -99;
  -webkit-animation-name: playIconBefore;
          animation-name: playIconBefore;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.iFrame .playIcon .playIconAnimate2 {
  position: absolute;
  top: -15px;
  left: -15px;
  background-color: #e0e0e0;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  opacity: 0.6;
  z-index: -99;
  -webkit-animation-name: playIconAfter;
          animation-name: playIconAfter;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.iFrameAvengers .dinamicIframe {
  position: fixed;
  width: 80%;
  height: 80%;
  z-index: 2000;
  top: 10%;
  left: 10%;
}

.iFrameAvengers .closeIframe {
  width: 40px !important;
  height: 40px !important;
  border-radius: 100%;
  text-align: center;
  line-height: 45px;
  z-index: 1000;
  position: fixed;
  top: -8%;
  left: 49%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.iFrameAvengers .closeIframe:hover {
  background-color: black !important;
}

.iFrameAvengers .closeIframe:hover i {
  color: #ffca36;
}

.iFrameAvengers .closeIframe i {
  color: white;
  font-weight: bold;
  font-size: 35px;
}

#sponsorOwl {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  background-color: white;
  padding: 40px 8%;
}

#sponsorOwl .owl-carousel {
  text-align: center;
  margin-top: 20px;
}

#sponsorOwl .owl-carousel .item img {
  width: 150px;
  height: 150px;
}

a {
  color: #e0e0e0 !important;
}

a:hover {
  text-decoration: none !important;
}

body {
  background-color: #ededed !important;
}

body:hover .closeIframe {
  top: 3%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

body #insteadBod {
  opacity: 0;
}
/*# sourceMappingURL=style.css.map */