@import './Shared/variables';
@import './Shared/fonts';
@import './Shared/mixings';
@import './Shared/extend';
@import './Shared/classes';
@import './Shared/keyFrames';
@import './Shared/mediaQuery';

@import './Pages/header';
@import './Pages/footer';
@import './Pages/index';