// Header Animations'
    // Reklam
    @keyframes headerReklamLeft {
        from {
            left: 0;
            opacity: 0;
            
        }
        to {
            left: 99.9%;
            opacity: 0.5;
        }
    }
    @keyframes headerReklamRight {
        from {
            left: 100%;
            opacity: 0;
        }
        to {
            left: 0.1%;
            opacity: 0.5;
        }
    }
///////////////////////////////////////////////
    @keyframes mainCarouselWrite1{
        from{
            font-size: 9.5em;
            opacity: 0.1;
            transform: rotate(540deg);
        }
        to{
            font-size: 2.5em;
            opacity: 0.7;
            transform: rotate(0);
        }
    }
    @keyframes mainCarouselWrite2{
        from{
            letter-spacing: -25px;
            opacity: 0;
        }
        to{
            letter-spacing: 3px;
            opacity: 1;
        }
    }
   
