// Main Colors - Main Page
$vine-color: #630017;
$red-color: #ce001e;
$light-color: #e0e0e0;
$dark-color: #2d2d30;
$hard-color: #161616;
$success-color: #24fd35;
$warning-color: #ffbd03;
$info-color: #0dc0dc;
$blue-color: #24609e;

// Font Families
$slide-title: 'Cinzel', serif;
$main-title: 'Abril Fatface', cursive;
$text-line: 'Arapey', serif;
$modern-writing: 'Comfortaa', cursive;
