// Header
header {
    text-align: center;

    // Reklam
    #headerReklam {
        background-color: $blue-color;
        color: $light-color;
        width: 99.99%;
        padding: 15px 0;
        font-family: $modern-writing;
        position: relative;

        &::before {
            left: 0;
            animation-name: headerReklamLeft;
            @extend %animation-reklam-temp;
        }

        &::after {
            right: 99.99%;
            animation-name: headerReklamRight;
            @extend %animation-reklam-temp;
        }

        a {
            text-decoration: underline;
            margin: 0 10px;
            font-weight: bold;

            &:hover {
                text-decoration: underline !important;
            }

            span {
                opacity: 0.5;

                &:hover {
                    opacity: 1;
                    @include transition(all 0.3s)
                }
            }
        }
    }

    #headerSocial {
        background-color: $dark-color;
        box-shadow: inset 0px 4px 24px 2px darken($color: $dark-color, $amount: 6), inset 0px -4px 24px 0px darken($color: $dark-color, $amount: 6);
        a {
            &:hover {
                @include transition(all 0.3s)
            }
        }

        #headerMailPhone {
            width: 100%;
            font-family: $modern-writing;

            a:hover {
                color: $warning-color !important;
                transition: all 0.5s;
            }
        }

        .row {
            section:first-child {
                a {
                    margin: 0 1%;
                }

                margin: 20px 0;
            }

            section:last-child {
                section:first-child {
                    font-size: 1.2em;
                }
            }
        }

        #headerSignPart {
            margin: 10px 0;
        }
    }

    #headerNavbar {
        .navbar{
            padding: 0 !important;
        }
        .dropdown-item{
            a{
                position: relative;
            }
            .fa-chevron-right{
                position: absolute;
                top: 8px;
                left: 130px;
            }
        }
        background-color: darken($color: $red-color, $amount: 10);
        box-shadow: inset 0 3px 20px lighten($color: $red-color, $amount: 5), inset 0 -4px 20px lighten($color: $red-color, $amount: 5);
        img {
            height: 60px;
            width: 30%;
            margin-top: 15px;
        }

        div {
            div:nth-child(2) {
                margin-top: 16px;
                height: 100%;
                font-family: $menu-writing;
            }

            .dropdown-menu {
                background-color: $hard-color !important;
                padding: 0;
                margin: 0 !important;
                a {
                    color: lighten($color: $red-color, $amount: 4) !important;
                    background-color: $hard-color !important;

                    &:hover {
                        color: lighten($color: $red-color, $amount: 40) !important;
                        transition: all 0.4s;
                    }
                }
                .languageDropMenu{
                    top: -4px;
                    margin: 0;
                    left: 157.1px;
                }
            }
        }
        .nav-item{
            #searchChangeIcon{
                background-color: darken($color: $light-color, $amount: 6) !important;
                height: 50px !important;
                width: 200px !important;
                z-index: 995;
                display: none;
                margin-bottom: 15px !important;
                input{
                    height: 30px;
                    width: 180px;
                    margin: auto;
                    margin-top: 8px;
                    z-index: 996 !important;
                    background-color: lighten($color: $light-color, $amount: 5) !important;
                }
                #openedInputSearch{
                    position: absolute;
                    color: $dark-color !important;
                    background-color: unset !important;
                    left: 168px;
                    top: 15px !important;
                }
            }
            position: relative;
            &:hover{
                .dropdown-menu{
                    display: block;
                    .languageDropMenu{
                        display: none;
                    }
                    .dropright{
                        &:hover{
                            .languageDropMenu{
                                display: block;
                            }
                        }
                    }
                }
            }
        }
        .nav-link {
            color: darken($color: $light-color, $amount: 20) !important;
            margin: 0 10px;
            margin-top: 3px;
            padding: 0;
            text-shadow: 2px 2px 5px $dark-color;
            &:hover {
                color: lighten($color: $light-color, $amount: 3) !important;
                transition: all 0.4s;
            }

            .i {
                margin-left: 5px;
            }
        }
    }
}