// Slide Regard Game Of Thrones
    #mainSlideGOT{
        .captionLover{
            position: absolute;
            z-index: 1;
            left: 40%;
            color: $light-color;
            font-size: $slide-Text-Simple !important;
            font-family: $slide-title !important;
            top: 10px !important;
            opacity: 0.3;
        }
        .carousel-item{
            position: relative;
            height: 500px;
            overflow: hidden !important;
            background-color: black;
            img{
                top: 0;
                left: 0;
                opacity: 0.5;
                width: auto;
                height: 100%;
            }
            h5{
                font-size: $slide-Header-Simple;
                font-family: $main-title;
                font-weight: bold;
                opacity: 0;
                @include transform(rotate(900deg));
                animation-name: mainCarouselWrite1;
                animation-duration: 2s;
                animation-fill-mode: forwards;
                animation-iteration-count: 1;
            }
            p{
                font-size: $slide-Text-Simple;
                font-family: $modern-writing;
                letter-spacing: -20px;
                animation-name: mainCarouselWrite2;
                animation-duration: 2s;
                animation-fill-mode: forwards;
                animation-iteration-count: 1;
                animation-delay: 1.8s;
                opacity: 0;
            }
        }
        &:hover{
            a{
                display: block;
            }
        }
        a{
            display: none;
            width: 50px !important;
            height: 50px !important;
            top: 43%;
            border-radius: 100% !important;
            background-color: $dark-color !important;
            opacity: 0.4 !important;
            line-height: 55px !important;
        }
        .carousel-control-prev{
            left: 1%;
        }
        .carousel-control-next{
            right: 1%;
        }
    }